<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="css/bmsg.css" rel="stylesheet" type="text/css">	
        <link rel="preconnect" href="https://fonts.googleapis.com">

        <style>
            @import url('https://fonts.googleapis.com/css2?family=Antonio&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
        </style>

    </head>
    <body>
        <div class="container">
            <img src="img/bday-banner.jpg" />
            <img src="/templates/img/edsg.svg" class="svg"/>
            <p><span style="color:green;font-weight: bolder">Dear [NAME]</span></p><br>
            <p>Today, on your special day we celebrate you,<br> 
                and we'd like you to know how valuable you are to us.<br>
                We thank you for all the good work you have done<br>
                and wish you the very best life has to offer always.</p><br>
            <img src="/templates/img/bdaytoyou.jpg" />
            <p>From all of us at the<br>
                <h1>MINISTRY OF INDUSTRY, TRADE AND COOPERATIVES</h1>
            </p>
            <img src="/templates/img/new-mitc-logo.jpg" class="mitc"/><br>
            <p>
                <h2>Courtsey:</h2>
                <h1>Digital Marketing Unit, <br>
                Department of Trade Promotions and Marketing</h1><br>                
            </p>

            <footer>
                <p class="footer">7th Floor, Block C, Secretariat Complex, Sapele Road<br>
                    Benin City, Edo State, Nigeria.<br>
                    Tel: +234 909 601 5355 | Website: <a href="https://www.wcce.org.ng" target="_blank">https://www.wcce.org.ng</a><br>
                    Email: <a href="mailto:itc@edostate.gov.ng">itc@edostate.gov.ng</a>
                </p>
            </footer>
        </div>
    </body>
</html>