<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <pre>
            <img src="/img_sources/mitc-logo-png.png" width="467" height="200" />
            <br />  Dear [NAME],<br />
            <br />  Happy birthday!!!<br />
            <br />  The best wishes for you!!<br /><br />
            <img src="[GIF IMAGE]" width="250" />
            <br /> Edo State Ministry of Industry, Trade and Cooperatives
        </pre>
    </body>
</html>